---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hi, It's me!">
  <img src="/sumoiscoding.png" class="w-36 h-auto" />
  <div class="prose dark:prose-invert">
    <span class="italic">Hi, my name is</span>
    <h1>Sumanth Kashyap</h1>
    <article>
      <p>
        I develop software for a <a
          href="https://github.com/bheemaguli/resume/blob/main/bheemaguli.jpg"
          target="_blank">living</a
        > and have a passion for continuous learning. Whether it's fiction, non-fiction,
        or technical literature, I enjoy exploring diverse ideas to better understand
        the world around me. Currently, my interests lie in data structures and distributed
        systems. When I'm not deep into a project, you'll likely find me experimenting
        with new technologies or <a
          href="https://www.strava.com/athletes/12062615"
          target="_blank">cycling</a
        > through the scenic countryside around Bengaluru or squating heavy weights.
      </p>
      <p>
        After completing my undergrad in Electrical Engineering, I transitioned
        directly into RPA, where I developed Python scripts and Windows agents
        to automate processes. After a year in automation, I moved into
        full-stack development with Django and React, becoming a key
        contributor. In my first year, I implemented new features to ensure our
        product remained compliant with government standards. Later, I optimized
        our development workflow by modernizing the JavaScript bundler, updating
        outdated Python standards, and integrating Vite and Tailwind CSS.
      </p>
      <p>
        In recent months, I've stepped into more responsibilities, leading
        efforts to streamline our product's performance and reduce operational
        costs. I enjoy tackling complex problems and am always driven by a
        desire to find efficient, scalable solutions.
      </p>
      <p>
        Looking ahead, I'm excited to continue learning and expanding my
        expertise in distributed systems and scalable architecture, as I believe
        these areas will play a major role in shaping the future of technology.
      </p>
    </article>
  </div>
</Layout>
