---
interface Props {
  title: string;
}

const { title } = Astro.props;

import "@/styles/globals.css";
import { Button } from "@/components/ui/button";
import { ModeToggle } from "@/components/common/ModeToggle";
import { Github, Linkedin } from "simple-icons-astro";
import { FileUser, Mail, Phone } from "lucide-react";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/sumoiscoding.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script src="https://unpkg.com/@phosphor-icons/web@2.1.1"></script>
    <script is:inline>
      const getThemePreference = () => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        return window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light";
      };
      const isDark = getThemePreference() === "dark";
      document.documentElement.classList[isDark ? "add" : "remove"]("dark");

      if (typeof localStorage !== "undefined") {
        const observer = new MutationObserver(() => {
          const isDark = document.documentElement.classList.contains("dark");
          localStorage.setItem("theme", isDark ? "dark" : "light");
        });
        observer.observe(document.documentElement, {
          attributes: true,
          attributeFilter: ["class"],
        });
      }
    </script>
  </head>
  <body class="bg-background font-fira text-foreground min-h-screen">
    <header
      class="border-border/40 bg-background/95 supports-[backdrop-filter]:bg-background/60 sticky top-0 z-50 mx-auto flex w-full max-w-6xl justify-end gap-1 p-4 backdrop-blur"
    >
      <a
        href="https://raw.githubusercontent.com/bheemaguli/resume/refs/heads/master/SumanthKashyap.pdf"
        target="_blank"
      >
        <Button
          size="icon"
          className="bg-blue-500 hover:bg-blue-600 dark:bg-pink-500 dark:text-white dark:hover:bg-pink-600"
          title="Resume"
        >
          <FileUser />
        </Button></a
      >
      <a href="tel:+91 9482171096" target="_blank">
        <Button variant="outline" size="icon" title="Call me">
          <Phone />
        </Button></a
      >
      <a href="mailto:sumanth.bhi@gmail.com" target="_blank">
        <Button variant="outline" size="icon" title="Mail Me">
          <Mail />
        </Button></a
      >
      <a href="https://www.linkedin.com/in/bheemaguli/" target="_blank">
        <Button variant="outline" size="icon" title="Mail Me">
          <Linkedin />
        </Button></a
      >
      <a href="https://github.com/bheemaguli/" target="_blank">
        <Button variant="outline" size="icon" title="GitHub Profile">
          <Github />
        </Button></a
      >
      <div class="ml-auto">
        <ModeToggle client:load />
      </div>
    </header>
    <div
      class="bg-background relative mx-auto flex min-h-screen max-w-6xl flex-col p-4 sm:p-6 md:p-8"
    >
      <main class="flex-1">
        <div class="relative container py-10">
          <slot />
        </div>
      </main>
    </div>
  </body>
</html>
